.tasks {
  padding: 58px 56px 160px;
}

.tasks__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #64C4ED;
  padding-bottom: 20px;
  border-bottom: 1px solid #F2F2F2;
}