$color-todo__sidebar: #E5E5E5;

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 50px;
}

.todo {
  max-width: 746px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 2px 3px #F1F1F1;
}

.todo__sidebar {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  flex-basis: 199px;
  background-color: $color-todo__sidebar;
  border-right: 1px solid #F1F1F1;
  box-sizing: border-box;
  padding: 48px 20px 160px 20px;

}

.field {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 12px;
  width: 100%;

  &:focus {
    border-color: #dbdbdb;
  }
}

.button {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  letter-spacing: 0.15px;

  color: #FFFFFF;

  width: 100%;
  padding: 10px 10px;
  background: #4DD599;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover {
    background: darken($color: #4DD599, $amount: 6%);
  }

  &:active {
    background: darken($color: #4DD599, $amount: 10%);
  }
}

// правая часть
.todo__tasks {
  flex-grow: 1;
  // text-align: center;
}

.tasks {
  padding: 58px 56px 160px;
}

.tasks__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #64C4ED;
}